@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Georgia", serif;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  html {
    width: 1200px;
    margin: 0 auto;
  }

  body {
    width: 1200px;
    box-shadow: 0 0 15px 1px rgba(0, 1, 1, 0.3);
  }
}

/*page-header*/
.page-header {
  position: relative;
}

/*main nav*/

.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav__button {
  margin: 0;
  padding: 0px;
  width: 23px;
  height: 22px;
  font-size: 0;
  border: none;
  background-color: transparent;
  fill: #81b3d2;
  outline: none;
  cursor: pointer;
}


.main-nav__button-close {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 17px;
  right: 20px;
  cursor: pointer;
  background: url("../img/icon-close.png") no-repeat 50% 50%;
}

.main-nav__list {
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #81b3d2;
  overflow: hidden;
  transition: height ease-out .3s;
}

.show {
  height: 115px;
}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__list--left .main-nav__item:first-child {
  border-top: none;
}

.main-nav__list--right .main-nav__item:last-child {
  position: relative;
  border-bottom: none;
  overflow: hidden;
}

.main-nav__list--right .main-nav__item:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  box-shadow: 0 5px 15px 5px rgba(0, 1, 1, 0.5);
}

.main-nav__link {
  display: block;
  box-sizing: border-box;
  min-height: 56px;
  font-size: 18px;
  line-height: 54px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669ec0;
}

.main-nav__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*logo*/

.logo {
  align-self: center;
  height: 55px;
  background-color: #ffffff;
}

.logo__link {
  text-decoration: none;
}

.main-nav__button-open {
  position: absolute;
  bottom: 17px;
  right: 20px;
  cursor: pointer;
  background: url("../img/icon-menu.png") no-repeat 50% 50%;
}

@media (min-width: 768px) {

  .main-nav {
    flex-direction: row;
    justify-content: center;
    height: 56px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: auto;
    background-color: #ffffff;
  }

  .main-nav__list--right {
    order: 1;
  }

  .main-nav__item {
    border: none;
    margin: auto;
    min-width: 150px;
  }

  .main-nav__item::before,
  .main-nav__item::after {
    display: none;
  }

  .main-nav__link {
    margin: auto;
    font-size: 14px;
    line-height: 55px;
    font-weight: 700;
    color: #000000;
  }

  .main-nav__link:hover,
  .main-nav__link:focus {
    background-color: #ffffff;
    color: #81b3d2;
  }

  .main-nav__link:active {
    background-color: #ffffff;
    color: #b2b2b2;
  }

  .main-nav__link--active {
    color: #766357;
  }

  .main-nav__link--active:hover,
  .main-nav__link--active:focus {
    background-color: #ffffff;
    color: #604e43;
  }

  .main-nav__link--active:active {
    background-color: #ffffff;
    color: #d6d0cc;
  }

  .main-nav__button {
    display: none;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }

  .logo--image {
    display: block;
    box-sizing: border-box;
    width: 188px;
    height: 96px;
    padding-left: 188px;
    background: url("../img/logo-desktop.svg") no-repeat;
  }
}

/*intro*/

.intro {
  min-width: 320px;
  height: 390px
}

.photo-page-main .intro,
.form-page-main .intro {
  height: 160px;
}

.intro__slogan {
  height: 100%;
  background-color: black;
  background-image: url("../img/intro-triangle.svg"),
    url("../img/back-desktop.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 50% 50%;
  background-size: 200%, cover;
}

.photo-page-main .intro__slogan,
.form-page-main .intro__slogan {
  background-position: bottom, bottom;
}

.intro__slogan--image {
  display: block;
  width: 281px;
  height: 214px;
  margin: 0 auto;
  padding-top: 90px;
}

.photo-page-main .intro__slogan--image,
.form-page-main .intro__slogan--image {
  width: 229px;
  height: 39px;
  padding-top: 50px;
}

@media (min-width: 768px) {
  .intro {
    min-width: 768px;
    height: 518px
  }

  .photo-page-main .intro,
  .form-page-main .intro {
    height: 290px;
  }

  .intro__slogan {
    background-size: 100%, cover;
  }

  .photo-page-main .intro__slogan,
  .form-page-main .intro__slogan {
    background-size: 100%, auto;
  }

  .intro__slogan--image {
    width: 460px;
    height: 350px;
    padding-top: 77px;
  }

  .photo-page-main .intro__slogan--image,
  .form-page-main .intro__slogan--image {
    width: 458px;
    height: 78px;
    padding-top: 95px;
  }
}

@media (min-width: 1200px) {
  .intro {
    width: 1200px;
  }

  .photo-page-main .intro,
  .form-page-main .intro {
    height: 300px;
  }

  .photo-page-main .intro__slogan--image,
  .form-page-main .intro__slogan--image {
    width: 461px;
    height: 80px;
    padding-top: 100px;
  }
}

/*introduction*/

.introduction {
  background-color: #ffffff;
}

.introduction__wrapper {
  width: 87.5%;
  max-width: 500px;
  margin: 0 auto;
}

.introduction__title {
  margin: 0;
  padding: 40px 10px 27px 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.introduction__description {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center
}

@media (min-width: 768px) {
  .introduction__title {
    padding-top: 50px;
    font-size: 21px;
  }

  .photo-page-main .introduction__title,
  .form-page-main .introduction__title {
    font-size: 30px;
    padding-top: 70px;
  }

  .introduction__description {
    padding-bottom: 50px;
  }

  .photo-page-main .introduction__description,
  .form-page-main .introduction__description {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {

  .photo-page-main .introduction__title,
  .form-page-main .introduction__title {
    padding-top: 110px;
  }
}

/*advantages*/

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__item--first-reason .advantages__wrapper,
.advantages__item--second-reason .advantages__wrapper {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__item:nth-child(n+3) {
  background-color: #eeeeee;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
  text-align: center
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__number {
  position: relative;
  width: 50px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 16px;
}

.advantages__number::before,
.advantages__number::after {
  content: "";
  position: absolute;
  top: 9px;
  width: 9px;
  height: 2px;
  background-color: #ffffff;
}

.advantages__number::before {
  left: 0;
}

.advantages__number::after {
  right: 0;
}

.advantages__item:nth-child(n+3) .advantages__number::before,
.advantages__item:nth-child(n+3) .advantages__number::after {
  background-color: #333333;
}

.advantages__description {
  margin: 0;
  padding: 0 5px 41px 5px;
}

.advantages__image {
  display: block;
  width: 100%;
  height: auto;
}

.advantages__item:nth-child(n+3) .advantages__title {
  padding-top: 27px;
  color: #000000;
}

.advantages__item:nth-child(n+3) .advantages__description {
  padding: 0 5px 25px 5px;
}

.advantages__item:nth-child(n+3):not(:last-child) .advantages__description {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.advantages__item--first-reason .advantages__title {
  padding-top: 60px;
}

.advantages__item--first-reason::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 37px;
  background-image: url("../img/white-triangle.svg");
  background-repeat: no-repeat;
}

.first-reason__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
  background-color: #ffffff;
  color: #333333;
  text-align: left
}

.first-reason__item {
  padding-left: 50px;
}

.first-reason__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.first-reason__title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: -50px;
}

.first-reason__item--food .first-reason__description {
  padding-bottom: 40px;
}

.first-reason__item--accommodation .first-reason__title::before {
  background-image: url("../img/reasonHouse.svg");
  background-repeat: no-repeat;
  background-size: 38px 36px;
}

.first-reason__item--souvenirs .first-reason__title::before {
  background-image: url("../img/reasonGift.svg");
  background-repeat: no-repeat;
  background-size: 38px 36px;
}

.first-reason__item--food .first-reason__title::before {
  background-image: url("../img/reasonBurger.svg");
  background-repeat: no-repeat;
  background-size: 39px 34px;
}

.first-reason__description {
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

@media (min-width: 768px) {

  .advantages {
    max-width: 768px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__wrapper {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
  }

  .advantages__title {
    width: 150px;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 10px;
    font-size: 21px;
    box-sizing: border-box;
  }

  .advantages__item--first-reason .advantages__title {
    padding-top: 45px;
  }

  .advantages__item:nth-child(n+3) {
    flex-grow: 1;
  }

  .advantages__item:nth-child(n+3) .advantages__title {
    padding-top: 45px;
  }

  .advantages__number {
    padding-bottom: 25px;
  }

  .advantages__description {
    max-width: 170px;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .advantages__item:nth-child(n+3):not(:last-child) .advantages__description {
    padding-bottom: 0;
    border: none;
  }

  .advantages__item--first-reason,
  .advantages__item--second-reason {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item--second-reason {
    flex-direction: row-reverse;
  }

  .advantages__image {
    display: block;
    flex-basis: 512px;
    height: 256px;
    flex-grow: 1;
  }

  .advantages__item--first-reason::before {
    display: none;
  }

  .first-reason__list {
    display: flex;
    width: 100%;
    padding: 0;
  }

  .first-reason__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33.3%;
    padding: 0;
  }

  .first-reason__item--souvenirs {
    order: 3;
  }

  .first-reason__item--food {
    order: 2;
  }

  .first-reason__title {
    width: 175px;
    padding-top: 160px;
    font-size: 21px;
  }

  .first-reason__title::before {
    top: 50px;
    left: 50px;
    width: 77px;
    height: 75px;
  }

  .first-reason__description {
    width: 175px;
  }

  .first-reason__item--accommodation .first-reason__title::before {
    top: 52px;
    background-size: 75px 72px;
  }

  .first-reason__item--souvenirs .first-reason__title::before {
    left: 60px;
    background-size: 64px 75px;
  }

  .first-reason__item--food .first-reason__title::before {
    top: 56px;
    background-size: 77px 68px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    max-width: 1200px;
  }

  .advantages__wrapper {
    width: 400px;
    padding: 0;
    margin: 0;
  }

  .advantages__description {
    max-width: 280px;
  }

  .advantages__image {
    width: 800px;
  }

  .first-reason__item {
    text-align: center;
    width: 400px;
  }
}

/*hotels*/

.hotels {
  background-color: #ffffff;
  text-align: center;
  line-height: 24px;
}

.hotels__wrapper {
  width: 280px;
  margin: 0 auto;
}

.hotels__title {
  display: block;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 24px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels__description {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
}

.button {
  display: block;
  width: 280px;
  min-height: 57px;
  margin: 0 auto;
  padding: 0;
  border: none;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .hotels__wrapper {
    width: auto;
  }

  .hotels__title {
    padding-top: 55px;
    padding-bottom: 35px;
    font-size: 30px;
  }

  .hotels__description {
    width: 435px;
    margin: 0 auto;
    padding-bottom: 44px;
    ;
  }

  .button {
    width: 458px;
  }
}


/*map*/

.map__iframe {
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 1;
}

/*page footer*/

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 245px;
}

.page-footer__title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-footer__title--link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.page-footer__title--link:hover,
.page-footer__title--link:focus {
  color: #81b3d2;
}

.page-footer__title--link:active {
  color: #b2b2b2;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #81b3d2;
  font-size: 0;
}

.social__link svg {
  margin: auto;
  fill: #ffffff;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.social__link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  margin-top: 10px;
  font-size: 0;
}

.copyright__text {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-weight: 400;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #b2b2b2;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    height: 120px;
  }
}

/*photo.html*/

.photo-page-main {
  font-size: 14px;
  line-height: 24px;
}

/*photo*/

.photo__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.photo__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.photo__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}

.photo__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 112px;
}

.photo__description {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  font-weight: 700;
  color: #000000;
}

.photo__author {
  margin: 0;
  padding: 0;
  text-transform: none;
}

.thumbs-up-button {
  width: 70px;
  height: 25px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/like-icon-mobile.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  background-position: 0 2px;
  cursor: pointer;
}

.thumbs-up-button--added {
  background-image: url("../img/like-icon-positive-mobile.svg")
}

.thumbs-up-button__likes-number {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {

  .photo__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 84.3%;
    margin: 0 auto;
  }

  .photo__wrapper {
    width: auto;
  }

  .photo__item {
    border: none;
  }

  .photo__item:first-child {
    width: 100%;
  }

  .photo__item:nth-child(n+2) {
    width: 50%;
  }

  .photo__image {
    padding-top: 0;
  }

  .photo__container {
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  .photo__item:nth-child(n+3) .photo__container {
    background-color: #eaeaea;
  }

  .thumbs-up-button {
    margin: auto;
    margin-right: 0;
    background-position: 0 0;
  }
}

@media (min-width: 1200px) {
  .photo__list {
    width: 100%;
  }

  .photo__wrapper {
    position: relative;
  }

  .photo__item:nth-child(n+2) {
    width: 400px;
  }

  .photo__container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__description {
    color: #ffffff;
  }

  .photo__author {
    color: #ffffff;
  }

  .thumbs-up-button {
    background-image: url("../img/like-icon-desctop.svg");
    background-position: 0 -2px;
  }

  .thumbs-up-button--added {
    background-image: url("../img/like-icon-positive-desctop.svg")
  }

  .thumbs-up-button__likes-number {
    color: #ffffff;
  }

  .photo__item:nth-child(n+3) .photo__container {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

/*video*/

.video__title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.video__description {
  width: 74.3%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.video__container {
  position: relative;
  margin-bottom: 122px;
  margin-top: 35px;
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .video__title {
    padding-top: 65px;
    font-size: 30px;
  }

  .video__description {
    width: 424px;
  }

  .video__container {
    width: 84.3%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .video__container {
    width: 800px;
  }
}

/*control panel*/

.control-panel {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 6.25%;
  width: 87.5%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.control-panel::after {
  position: absolute;
  bottom: -66px;
  content: "";
  width: 100%;
  height: 66px;
  background-color: #f2f2f2;
}

.control-panel__btn {
  position: absolute;
  bottom: -42px;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
  outline: none;
}

.control-panel__btn--restart {
  left: 25px;
  background-image: url("../img/replay.png");
  background-repeat: no-repeat;
}

.control-panel__btn--restart:hover,
.control-panel__btn--restart:focus {
  background-image: url("../img/replay-hover.png");
}

.control-panel__btn--restart:active {
  background-image: url("../img/replay-active.png");
}

.control-panel__btn--subtitle {
  right: 90px;
  width: 32px;
  background-image: url("../img/subtitles.png");
  background-repeat: no-repeat;
}

.control-panel__btn--subtitle:hover,
.control-panel__btn--subtitle:focus {
  background-image: url("../img/subtitles-hover.png");
}

.control-panel__btn--subtitle:active {
  background-image: url("../img/subtitles-active.png");
}

.control-panel__btn--full-screen {
  right: 25px;
  background-image: url("../img/fullscreen.png");
  background-repeat: no-repeat;
}

.control-panel__btn--full-screen:hover,
.control-panel__btn--full-screen:focus {
  background-image: url("../img/fullscreen-hover.png");
}

.control-panel__btn--full-screen:active {
  background-image: url("../img/fullscreen-active.png");
}

.control-panel__range {
  -webkit-appearance: none;
  width: 73.4%;
  margin: auto;
  cursor: pointer;

}

.control-panel__range:focus {
  outline: none;
}

.control-panel__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: #74716f;
}

.control-panel__range::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  margin-top: -4px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.control-panel__range:focus::-webkit-slider-runnable-track {
  background: #81b3d2;
}

@media (min-width: 768px) {
  .control-panel {
    left: 0;
    width: 100%;
    height: 93px;
  }

  .control-panel::after {
    display: none;
  }

  .control-panel__btn {
    position: static;
    height: 20px;
    margin: auto;
    border: none;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;
  }

  .control-panel__btn--restart {
    background-image: url("../img/replay-desctop.png");
  }

  .control-panel__btn--restart:hover,
  .control-panel__btn--restart:focus {
    background-image: url("../img/replay-desctop-hover.png");
  }

  .control-panel__btn--restart:active {
    background-image: url("../img/replay-desctop-active.png");
  }

  .control-panel__btn--subtitle {
    background-image: url("../img/subtitles-desctop.png");
  }

  .control-panel__btn--subtitle:hover,
  .control-panel__btn--subtitle:focus {
    background-image: url("../img/subtitles-desctop-hover.png");
  }

  .control-panel__btn--subtitle:active {
    background-image: url("../img/subtitles-desctop-active.png");
  }

  .control-panel__btn--full-screen:hover,
  .control-panel__btn--full-screen:focus {
    background-image: url("../img/fullscreen-desctop-hover.png");
  }

  .control-panel__btn--full-screen:active {
    background-image: url("../img/fullscreen-desctop-active.png");
  }

  .control-panel__btn--full-screen {
    background-image: url("../img/fullscreen-desctop.png");
  }

  .control-panel__range {
    width: 59.4%;
  }
}


/*form.html*/

/*feedback*/
.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form__title {
  width: 100%;
  margin: 0;
  padding: 0 20px;
  padding-top: 20px;
  border-top: 1px solid #e4e4e4;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.feedback-form__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 280px;
  margin: 0 auto;
  margin-top: 20px;
}

.feedback-form__container:last-child {
  padding-bottom: 25px;
}

.feedback-form__group-name .feedback-form__input,
.feedback-form__group-contact .feedback-form__input {
  padding: 0 20px;
  height: 50px;
  border: 4px solid #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
}

.feedback-form__group-name .feedback-form__input:hover,
.feedback-form__group-contact .feedback-form__input:hover {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

.feedback-form__group-name .feedback-form__input:focus,
.feedback-form__group-contact .feedback-form__input:focus {
  outline: none;
  border-color: #e5e5e5;
  background-color: #ffffff;
}

.feedback-form__group-name .feedback-form__input {
  width: 142px;
  margin-left: auto;
}

.feedback-form__group-contact .feedback-form__input {
  width: 174px;
  margin-top: 8px;
}

.feedback-form__group-contact .feedback-form__container {
  position: relative;
}

.feedback-form__group-contact .feedback-form__label::after {
  content: "";
  position: absolute;
  right: 0;
  top: 34px;
  width: 58px;
  height: 58px;
  background-color: #e5e5e5;
  background-size: 18px 18px;
  background-position: 50% 50%;
}

.feedback-form__label--phone.feedback-form__label::after {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
}

.feedback-form__label--mail.feedback-form__label::after {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
}

.feedback-form__group-impressions .feedback-form__container,
.feedback-form__group-sights .feedback-form__container {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 80px;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  font-weight: 700;
  color: #000000;
  box-sizing: border-box;
}

.feedback-form__radio,
.feedback-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-form__group-impressions .feedback-form__label::before,
.feedback-form__group-sights .feedback-form__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -17px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.feedback-form__group-impressions .feedback-form__label:hover::before,
.feedback-form__group-impressions .feedback-form__label:focus::before,
.feedback-form__group-sights .feedback-form__label:hover::before,
.feedback-form__group-sights .feedback-form__label:focus::before {
  background-color: #e5e5e5;
}

.feedback-form__group-impressions .feedback-form__label:active::before,
.feedback-form__group-sights .feedback-form__label:active::before {
  background-color: #d5d5d5;
}

.feedback-form__group-sights .feedback-form__label::before {
  border-radius: 7px;
}

.feedback-form__radio:focus ~ label::before,
.feedback-form__checkbox:focus ~ label::before {
  background-color: #e5e5e5;
}

.feedback-form__radio:checked ~ label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #363636;
}

.feedback-form__group-impressions .feedback-form__label:active::after,
  {
  background-color: #a4a4a4;
}

.feedback-form__checkbox:checked ~ label::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 0;
  width: 19px;
  height: 10px;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(-45deg)
}

.feedback-form__group-sights .feedback-form__label:active::after {
  border-color: #a7a7a7;
}

.feedback-form__textarea {
  display: block;
  width: 240px;
  min-height: 112px;
  resize: none;
  margin: 20px auto 45px auto;
  padding: 20px;
  border: 4px solid #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
}

.feedback-form__textarea:hover {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.feedback-form__textarea:focus {
  outline: none;
  background-color: #ffffff;
}

.feedback-form__button {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.feedback-form__legend {
  display: none;
}

@media (min-width: 768px) {

  .feedback-form {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .feedback-form__group {
    width: 100%;
    margin-bottom: 45px;
    border-top: 1px solid #dbdbdb;
  }

  .feedback-form__group-name,
  .feedback-form__group-impressions {
    width: 50%;
    border: none;
  }

  .feedback-form__group-impressions {
    order: -1;
  }

  .feedback-form__title {
    width: 395px;
    padding: 0;
    border: none;
    font-size: 21px;
  }

  .feedback-form__group-name .feedback-form__title {
    width: auto;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-top: 25px;
    text-align: left;
  }

  .feedback-form__group-impressions .feedback-form__title {
    width: auto;
    margin-bottom: 30px;
    padding-top: 25px;
    text-align: left;
  }

  .feedback-form__group-name .feedback-form__container,
  .feedback-form__group-impressions .feedback-form__container {
    width: 280px;
  }

  .feedback-form__group-name .feedback-form__container {
    margin-right: 0;
    margin-left: auto;
  }

  .feedback-form__group-impressions .feedback-form__container {
    margin-top: 50px;
    margin-left: 0;
    margin-right: auto;
  }

  .feedback-form__group-contact .feedback-form__container {
    width: 100%;
  }

  .feedback-form__group-sights__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 180px;
    margin-top: 25px;
  }

  .feedback-form__group-sights .feedback-form__container {
    width: 230px;
    margin: 0;
  }

  .feedback-form__group-name .feedback-form__input {
    margin-left: auto;
  }

  .feedback-form__group-contact .feedback-form__label {
    width: 100%;
    margin-left: 20px;
  }

  .feedback-form__group-contact .feedback-form__input {
    width: 100%;
  }

  .feedback-form__textarea {
    width: 100%;
    min-height: 160px;
    margin-top: 60px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  .feedback-form__button {
    width: 324px;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .feedback-form__legend {
    display: inline;
    margin-top: 15px;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .feedback-form {
    width: 960px;
    justify-content: space-between;
    overflow: hidden;
  }

  .feedback-form__group-name,
  .feedback-form__group-impressions {
    width: 400px;
  }

  .feedback-form__group-name .feedback-form__title {
    margin-left: 0;
  }

  .feedback-form__group-impressions .feedback-form__title {
    margin-left: 80px;
  }

  .feedback-form__group-name .feedback-form__container {
    width: 100%;
  }

  .feedback-form__group-contact--wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }

  .feedback-form__group-contact .feedback-form__container {
    width: 480px;
    margin: 0;
    padding: 0;
  }

  .feedback-form__group-contact .feedback-form__container--phone {
    width: 400px;
  }

  .feedback-form__group-contact--span {
    display: none;
  }

  .feedback-form__group-name .feedback-form__input {
    width: 265px;
  }

  .feedback-form__group-contact .feedback-form__label::after {
    top: auto;
    bottom: 0;

  }

  .feedback-form__group-contact .feedback-form__label {
    width: auto;
    margin-left: 0;
  }

  .feedback-form__group-contact .feedback-form__input {
    flex-grow: 1;
    width: auto;
    margin-left: 15px;
  }

  .feedback-form__group-sights__wrapper {
    justify-content: space-between;
  }

  .feedback-form__button {
    width: 480px;
  }
}

/*pop-up*/

.pop-up__wrapper {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3)
}

.pop-up--show {
  display: flex;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 15px 1px rgba(0, 1, 1, 0.4);
  background-color: #ffffff;
}

.pop-up--success {
  justify-content: space-between;
  height: 324px;
  padding-top: 35px;
  padding-bottom: 0;
}


.pop-up__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
}

.pop-up__description {
  margin: 0;
  padding: 0;
  width: 215px;
  font-size: 14px;
  line-height: 24px;
}

.pop-up__button {
  margin: 0;
  padding: 0;
}

.pop-up--failure .pop-up__button {
  width: 180px;
}

.pop-up--success .pop-up__button {
  width: 280px;
  margin: auto;
}

.pop-up__container {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .pop-up {
    width: 400px;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .pop-up--success {
    width: 640px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .pop-up__title {
    width: 220px;
    font-size: 30px;
    line-height: 40px;
  }

  .pop-up--success .pop-up__title {
    width: auto;
  }

  .pop-up__description {
    width: 280px;
  }

  .pop-up--success .pop-up__description {
    width: 420px;
  }

  .pop-up--failure .pop-up__button {
    width: 270px;
  }

  .pop-up__container {
    height: 145px;
  }
}
