@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.regular.woff) format("woff"), url(../fonts/PTSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/pt-sans.bold.woff) format("woff"), url(../fonts/PTSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 320px;
  min-width: 320px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Georgia", serif;
  text-transform: uppercase;
  color: #333333;
}

/*main nav*/

.main-nav {
  position: relative;
}

.main-nav__button {
  margin: 0;
  padding: 0px;
  font-size: 0;
  border: none;
  background-color: transparent;
  fill: #81b3d2;
}

.main-nav__button-close {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 17px;
  right: 20px;
  fill: #ffffff;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #81b3d2;

}

.main-nav__item {
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  position: relative;
  border-bottom: none;
  overflow: hidden;
}

.main-nav__item:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  width: 320px;
  box-shadow: 0 3px 6px 2px black;
}

.main-nav__link {
  display: block;
  box-sizing: border-box;
  min-height: 56px;
  font-size: 18px;
  line-height: 54px;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669ec0;
}

.main-nav__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*page-header__logo*/

.logo {
  display: flex;
  position: relative;
  justify-content: center;
  width: 280px;
  height: 55px;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo__link {
  text-decoration: none;
}

.main-nav__button-open {
  position: absolute;
  right: 0;
  top: 17px;
  cursor: pointer;
}

/*intro*/

.intro {
  width: 320px;
  height: 389px;
}

.photo-page-main .intro,
.form-page-main .intro {
  height: 160px;
}

.intro__slogan {
  height: 100%;
  background-color: black;
  background-image: url("../img/intro-triangle.svg"),
    url("../img/back-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 50% 50%;
  background-size: 200%, cover;
}

.photo-page-main .intro__slogan,
.form-page-main .intro__slogan {
  background-position: bottom, bottom;
}

.intro__slogan--image {
  display: block;
  width: 281px;
  height: 214px;
  margin: 0 auto;
  padding-top: 90px;
}

.photo-page-main .intro__slogan--image,
.form-page-main .intro__slogan--image {
  width: 229px;
  height: 39px;
  padding-top: 50px;
}

/*introduction*/

.introduction {
  background-color: #ffffff;
}

.introduction__wrapper {
  width: 280px;
  margin: 0 auto;
}

.introduction__title {
  margin: 0;
  padding: 40px 10px 27px 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.introduction__description {
  margin: 0;
  padding: 0 5px;
  padding-bottom: 20px;
  text-align: center
}

/*advantages*/

.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
}

.advantages__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
  text-align: center
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 41px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__number {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.advantages__description {
  margin: 0;
  padding: 0 5px 41px 5px;
}

.advantages__item:nth-child(n+3) .advantages__title {
  padding-top: 27px;
  color: #000000;
}

.advantages__item:nth-child(n+3) .advantages__description {
  padding: 0 15px 25px 15px;
}

.advantages__item:nth-child(n+3):not(:last-child) .advantages__description {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.advantages__item--first-reason,
.advantages__item--second-reason {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages__item--first-reason .advantages__title {
  padding-top: 60px;
}

.advantages__item--first-reason::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 0;
  width: 320px;
  height: 37px;
  background-image: url("../img/white%20copy%202.png");
  background-repeat: no-repeat;
}

.advantages__image {
  display: block;
  width: 320px;
  height: 260px;
}

.first-reason__list {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
  background-color: #ffffff;
  color: #333333;
  text-align: left
}

.first-reason__item {
  padding-left: 50px;
}

.first-reason__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.first-reason__description {
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

.first-reason__item--food .first-reason__description {
  padding-bottom: 40px;
}

.first-reason__title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: -50px;
}

.first-reason__item--accommodation .first-reason__title::before {
  background-image: url("../img/reasonHouse.svg");
  background-repeat: no-repeat;
  background-size: 38px 36px;
}

.first-reason__item--souvenirs .first-reason__title::before {
  background-image: url("../img/reasonGift.svg");
  background-repeat: no-repeat;
  background-size: 38px 36px;
}

.first-reason__item--food .first-reason__title::before {
  background-image: url("../img/reasonBurger.svg");
  background-repeat: no-repeat;
  background-size: 39px 34px;
}

.advantages__item--third-reason,
.advantages__item--fourth-reason,
.advantages__item--fifth-reason {
  background-color: #eeeeee;
}

/*hotels*/

.hotels {
  background-color: #ffffff;
  text-align: center;
  line-height: 24px;
}

.hotels__wrapper {
  width: 280px;
  margin: 0 auto;
}

.hotels__title {
  display: block;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 24px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels__description {
  margin: 0;
  padding: 0;
  padding-bottom: 37px;
}

.button {
  display: block;
  width: 280px;
  min-height: 57px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*map*/

.map {
  position: relative;
  margin-top: 50px;
}

.map::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  top: 160px;
  left: 140px;
  background-image: url("../img/map-marker.png")
}

.map__iframe {
  position: absolute;
  width: 320px;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 1;
}

/*page footer*/

.page-footer__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.page-footer__title--link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: #81b3d2;
  font-size: 0;
}

.social__link svg {
  margin: auto;
  fill: #ffffff;
}

.social__link:hover,
.social__link:focus {
  background-color: #669ec0;
}

.social__link:active {
  background-color: #5496bd;
}

.social__link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.copyright__link {
  font-size: 0;
}

.copyright__text {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  font-weight: 400;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #81b3d2;
}

.copyright__link:active svg {
  fill: #b2b2b2;
}

/*photo.html*/

.photo-page-main {
  font-size: 14px;
  line-height: 24px;
}

/*photo*/

.photo__wrapper {
  width: 280px;
  margin: 0 auto;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__item {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.photo__image {
  display: block;
  width: 280px;
  height: 280px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
}

.photo__description {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  font-weight: 700;
  color: #000000;
}

.photo__author {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  text-transform: none;
}

.thumbs-up-button {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 10px;
  border: none;
  background-color: transparent;
  background-image: url("../img/like-icon.png");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  background-position: 0 5px;
  cursor: pointer;
}

.thumbs-up-button__likes-number {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  font-weight: 700;
  color: #000000;
}

/*video*/

.video__wrapper {
  width: 280px;
  margin: 0 auto;
}

.video__container {
  position: relative;
}

.video__title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  ;
}

.video__description {
  margin: 0;
  padding: 30px 10px 0 10px;
  padding-top: 30px;
  text-align: center;
}

.video__image {
  display: block;

  width: 321px;
  height: 201px;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  padding-top: 35px;
}

/*control panel*/

.control-panel-top {
  display: flex;
  position: absolute;
  bottom: 65px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.control-panel-top__range {
  -webkit-appearance: none;
  width: 235px;
  margin: auto;
  cursor: pointer;

}

.control-panel-top__range:focus {
  outline: none;
}

.control-panel-top__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background-color: #74716f;
}

.control-panel-top__range::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  margin-top: -4px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.control-panel-top__range:focus::-webkit-slider-runnable-track {
  background: #81b3d2;
}

.control-panel-bottom {
  display: flex;
  align-items: center;
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
}

.control-panel-bottom__btn {
  height: 20px;
  margin-left: 25px;
  border: none;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
}

.control-panel-bottom__btn--restart {
  width: 16px;
  margin-right: auto;
  background-image: url("../img/replay.png");
  background-repeat: no-repeat;
}

.control-panel-bottom__btn--restart:hover,
.control-panel-bottom__btn--restart:focus {
  background-image: url("../img/replay-hover.png");
}

.control-panel-bottom__btn--restart:active {
  background-image: url("../img/replay-active.png");
}

.control-panel-bottom__btn--subtitle {
  width: 32px;
  background-image: url("../img/subtitles.png");
  background-repeat: no-repeat;
}

.control-panel-bottom__btn--subtitle:hover,
.control-panel-bottom__btn--subtitle:focus {
  background-image: url("../img/subtitles-hover.png");
}

.control-panel-bottom__btn--subtitle:active {
  background-image: url("../img/subtitles-active.png");
}

.control-panel-bottom__btn--full-screen {
  width: 20px;
  margin-right: 25px;
  background-image: url("../img/fullscreen.png");
  background-repeat: no-repeat;
}

.control-panel-bottom__btn--full-screen:hover,
.control-panel-bottom__btn--full-screen:focus {
  background-image: url("../img/fullscreen-hover.png");
}

.control-panel-bottom__btn--full-screen:active {
  background-image: url("../img/fullscreen-active.png");
}

/*form.html*/

/*feedback*/

.feedback-form__group {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.feedback:last-child .feedback-form__group {
  border-bottom: none;
}
.feedback-form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.feedback-form__title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.feedback-form__label {
}
