.video__title {
  padding-top: 35px;
  @include font-settings(18px, 26px, 700, #000000);
  text-align: center;
}

.video__description {
  width: 74.3%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.video__container {
  position: relative;
  margin-bottom: 122px;
  margin-top: 35px;
}

.video__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: $laptop-size) {
  .video__title {
    padding-top: 65px;
    font-size: 30px;
  }

  .video__description {
    width: 424px;
  }

  .video__container {
    width: 84.3%;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-size) {
  .video__container {
    width: 800px;
  }
}
