.button {
  display: block;
  width: 280px;
  min-height: 57px;
  margin: 0 auto;
  padding: 0;
  border: none;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  cursor: pointer;
  transition: background-color .2s ease-out;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
