.search-hotel {
  width: 100%;
  height: 600px;
  padding: 30px 45px;
  background-color: #000000;
  background-image: url("./img/back-hotels-1200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.search-hotel-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.search-hotel-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.search-hotel-form__group--habitation {
  margin-top: 23px;
}

.search-hotel-form__group--price {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.search-hotel-form__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.search-hotel-form__group--infrastructure .search-hotel-form__wrapper,
.search-hotel-form__group--habitation .search-hotel-form__wrapper {
  position: relative;
  width: 140px;
  margin-top: 23px;
}

.search-hotel-form__group--price .search-hotel-form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 224px;
  height: 36px;
  margin-top: 11px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-sizing: border-box;
}

.search-hotel-form__group--price .search-hotel-form__wrapper::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.search-hotel-form__group--infrastructure .search-hotel-form__label,
.search-hotel-form__group--habitation .search-hotel-form__label {
  margin: 0;
  margin-left: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  transition: color .2s ease;
}

.search-hotel-form__group--price .search-hotel-form__label {
  margin-left: 0;
  margin-right: 5px;
}

.search-hotel-form__group--infrastructure .search-hotel-form__label::before,
.search-hotel-form__group--habitation .search-hotel-form__label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url(./img/checkbox-off.svg);
  background-repeat: no-repeat;
  transition: background-image .2s ease;
}

.search-hotel-form__checkbox:checked~.search-hotel-form__label::before {
  background-image: url(./img/checkbox-on.svg);
}

.search-hotel-form__checkbox:focus~.search-hotel-form__label::before,
.search-hotel-form__checkbox:hover~.search-hotel-form__label::before {
  background-image: url(./img/checkbox-off-hover.svg);
}

.search-hotel-form__checkbox:focus:checked~.search-hotel-form__label::before,
.search-hotel-form__checkbox:hover:checked~.search-hotel-form__label::before {
  background-image: url(./img/checkbox-on-hover.svg);
}

.search-hotel-form__checkbox:focus~.search-hotel-form__label,
.search-hotel-form__checkbox:hover~.search-hotel-form__label {
  color: rgba(255, 255, 255, 0.3)
}

.search-hotel-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-hotel-form__checkbox:focus+.search-hotel-form__group--infrastructure .search-hotel-form__label {}

.search-hotel-form__group--price .search-hotel-form__container {
  display: flex;
  align-items: baseline;
  width: 70px;
  margin: auto;
}

.search-hotel-form__input-min,
.search-hotel-form__input-max {
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.search-hotel-form__button {
  width: 137px;
  height: 36px;
  margin-top: 23px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  outline: none;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.search-hotel-form__button:hover,
.search-hotel-form__button:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-hotel-form__button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 768px) {
  .search-hotel {
    height: 217px;
    padding: 25px 45px;
    background-image: url("./img/back-hotels-768.jpg");
  }

  .search-hotel-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-transform: uppercase;
  }

  .search-hotel-form__group {
    margin-top: 0;
  }

  .search-hotel-form__group--infrastructure {
    width: 152px;
    margin-right: 85px;
  }

  .search-hotel-form__group--price {
    margin-left: auto;
  }

  .search-hotel-form__button {
    margin: 0 auto;
    margin-top: 33px;
  }
}

@media (min-width: 1200px) {
  .search-hotel {
    padding: 25px 72px;
    background-image: url("./img/back-hotels-1200.jpg");
  }

  .search-hotel-form__group--infrastructure {
    margin-right: 125px;
  }

  .search-hotel-form__group--price .search-hotel-form__wrapper {
    width: 317px;
  }
}
