.sorting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 88px;
  padding: 0 45px;
  border-bottom: 2px solid $hover-input-color;
}

.sorting__counter {
  margin: 0 auto;
}

.counter__description {
  @include font-settings(21px, 26px, 700, #000000);
}

.sorting__list {
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting__description {
  color: #000000;
  margin-right: 12px;
}

.sorting__type-label {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sorting__type:checked ~ .sorting__type-label {
  color: $primary-color;
}

.sorting__item:not(:last-child) {
  margin-right: 12px;
}

.sorting__switches {
  display: flex;
  width: 40px;
  height: 12px;
  margin: 0 auto;
}

.switches__label {
  width: 11px;
  height: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.switches__label--up {
  margin-right: 12px;
}

.switches__label svg {
  width: 11px;
  height: 11px;
  fill: #cacaca;
}

.switches__direction:checked ~ .switches__label svg {
  fill: $primary-color;
}

@media (min-width: $laptop-size) {
  .sorting {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sorting__counter {
    width: 152px;
    margin: 0;
    text-align: left;
  }

  .sorting__list {
    margin-left: 11px;
  }

  .sorting__description {
    margin-right: 37px;
  }

  .sorting__item:not(:last-child) {
    margin-right: 30px;
  }

  .sorting__switches {
    margin: 0 0 0 auto;
  }
}
@media (min-width: $desktop-size) {
  .sorting {
    padding: 0 72px;
  }
}
