.introduction {
  background-color: #ffffff;
}

.introduction__wrapper {
  width: 87.5%;
  max-width: 500px;
  margin: 0 auto;
}

.introduction__title {
  margin: 0;
  padding: 40px 10px 27px 10px;
  @include font-settings(18px, 26px, 700, $color: #000000);
  text-align: center;
}

.introduction__description {
  padding-bottom: 20px;
  text-align: center
}

@media (min-width: $laptop-size) {
  .introduction__title {
    padding-top: 50px;
    font-size: 21px;
  }

  .photo-page-main .introduction__title,
  .form-page-main .introduction__title {
    font-size: 30px;
    padding-top: 70px;
  }

  .introduction__description {
    padding-bottom: 50px;
  }

  .photo-page-main .introduction__description,
  .form-page-main .introduction__description {
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-size) {

  .photo-page-main .introduction__title,
  .form-page-main .introduction__title {
    padding-top: 110px;
  }
}
