.main-hotels__search {
  position: relative;
  margin: 0 auto;
  box-shadow: $secondary-shadow;
}

.search-form {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
  box-shadow: $secondary-shadow;
}

.search-form__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.search-form-show {
  height: 430px;
}

.search-form__date {
  width: 100%;
  margin-bottom: 25px;
}

.search-form__group {
  position: relative;
  width: 100%;
}

.search-form__group--check-in {
  margin-bottom: 25px;
}

.search-form__input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 2px solid $primary-input-color;
  background-color: $primary-input-color;
  background-image: url("./img/icon-calendar.png");
  background-repeat: no-repeat;
  background-position: 96% center;
  box-sizing: border-box;
  outline: none;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: $hover-input-color;
    background-image: url("./img/icon-calendar-hover.png");
    border-color: $hover-input-color;
  }

  &:focus {
    background-color: #ffffff;
    background-image: url("./img/icon-calendar-active.png");
    border-color: $hover-input-color;
  }
}

.search-form__calendar {
  position: absolute;
  top: 9px;
  right: 10px;
  width: 21px;
  height: 22px;
  border: none;
  outline: none;
  background-image: url("./img/icon-calendar.png");
  background-repeat: no-repeat;
  background-position: center;
}

.search-form__visiters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.visiters__wrapper {
  width: 120px;
}

.search-form__adult,
.search-form__kids {
  display: flex;
}

.search-form__label {
  color: #000000;
  font-weight: 700;
}

.search-form__button--minus,
.search-form__button--plus {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: $primary-input-color;
  box-sizing: border-box;
  transition: background-image 0.2s ease-out;
}

.search-form__button--minus {
  &::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 13px;
    width: 14px;
    height: 3px;
    background-color: #a9a9a9;
  }
  &:focus::before,
  &:hover::before {
    background-color: #000000;
  }

  &:active::before {
    background-color: $primary-color;
  }
}

.search-form__button--plus {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 13px;
    width: 14px;
    height: 3px;
    background-color: #a9a9a9;
  }
  &::after {
    transform: rotate(90deg);
  }
  &:focus::before,
  &:focus::after,
  &:hover::before,
  &:hover::after {
    background-color: #000000;
  }

  &:active::before,
  &:active::after {
    background-color: $primary-color;
  }
}

.search-form__counter {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 2px solid $primary-input-color;
  background-color: $primary-input-color;
  outline: none;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: $hover-input-color;
    border-color: $hover-input-color;
  }

  &:focus {
    background-color: #ffffff;
    border-color: $hover-input-color;
  }
}

.search-form__button {
  width: 100%;
  height: 58px;
  margin: auto auto 0;
}
@media (min-width: $laptop-size) {
  .main-hotels__search {
    width: 568px;
  }

  .search-form-show {
    height: 395px;
  }

  .search-form__wrapper {
    padding: 55px;
  }

  .search-form__group {
    display: flex;
    align-items: baseline;
  }

  .search-form__date {
    margin-bottom: 30px;
  }

  .search-form__group--check-in {
    margin-bottom: 30px;
  }

  .search-form__input {
    width: 345px;
    margin-left: auto;
  }

  .visiters__wrapper {
    display: flex;
    align-items: center;
    width: 233px;
  }

  .visiters__wrapper--kids {
    width: 200px;
  }

  .search-form__adult,
  .search-form__kids {
    margin-left: auto;
  }

  .search-form__button {
    width: 458px;
  }
}
