.photo-page-main {
  font-size: 14px;
  line-height: 24px;
}

.photo__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.photo__item {
  border-top: 1px solid $hover-input-color;
  border-bottom: 1px solid $hover-input-color;
}

.photo__wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.photo__image {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 22px;
}

.photo__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 112px;
}

.photo__description {
  margin-top: 17px;
  font-weight: 700;
  color: #000000;
}

.photo__author {
  text-transform: none;
}

.thumbs-up-button {
  width: 70px;
  height: 25px;
  margin-top: 5px;
  border: none;
  background-color: transparent;
  background-image: url("./img/like-icon-mobile.svg");
  background-repeat: no-repeat;
  background-size: 23px 21px;
  background-position: 0 2px;
  cursor: pointer;
}

.thumbs-up-button--added {
  background-image: url("./img/like-icon-positive-mobile.svg");
}

.thumbs-up-button__likes-number {
  padding-left: 35px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: $laptop-size) {
  .photo__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 84.3%;
    margin: 0 auto;
  }

  .photo__wrapper {
    width: auto;
  }

  .photo__item {
    border: none;
  }

  .photo__item:first-child {
    width: 100%;
  }

  .photo__item:nth-child(n+2) {
    width: 50%;
  }

  .photo__image {
    padding-top: 0;
  }

  .photo__container {
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: $primary-input-color;
  }

  .photo__item:nth-child(n+3) {
    .photo__container {
      background-color: #eaeaea;
    }
  }

  .thumbs-up-button {
    margin: auto 0 auto auto;
    background-position: 0 0;
  }
}
@media (min-width: $desktop-size) {
  .photo__list {
    width: 100%;
  }

  .photo__wrapper {
    position: relative;
  }

  .photo__item:nth-child(n+2) {
    width: 400px;
  }

  .photo__container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__description {
    color: #ffffff;
  }

  .photo__author {
    color: #ffffff;
  }

  .thumbs-up-button {
    background-image: url("./img/like-icon-desctop.svg");
    background-position: 0 -2px;
  }

  .thumbs-up-button--added {
    background-image: url("./img/like-icon-positive-desctop.svg");
  }

  .thumbs-up-button__likes-number {
    color: #ffffff;
  }

  .photo__item:nth-child(n+3) {
    .photo__container {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
