.pop-up__wrapper {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.pop-up--show {
  display: flex;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: $secondary-shadow;
  background-color: #ffffff;
}

.pop-up--success {
  justify-content: space-between;
  height: 324px;
  padding-top: 35px;
  padding-bottom: 0;
}

.pop-up__title {
  @include font-settings(18px, 26px, 700, #000000);
}

.pop-up__description {
  width: 215px;
  @include font-settings(14px, 24px, 400, #333333);
}

.pop-up--failure {
  .pop-up__button {
    width: 180px;
  }
}

.pop-up--success {
  .pop-up__button {
    width: 280px;
    margin: auto;
  }
}

.pop-up__container {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #f2f2f2;
}
@media (min-width: $laptop-size) {
  .pop-up {
    width: 400px;
    height: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .pop-up--success {
    width: 640px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .pop-up__title {
    width: 220px;
    font-size: 30px;
    line-height: 40px;
  }

  .pop-up--success {
    .pop-up__title {
      width: auto;
    }
  }

  .pop-up__description {
    width: 280px;
  }

  .pop-up--success {
    .pop-up__description {
      width: 420px;
    }
  }

  .pop-up--failure .pop-up__button {
    width: 270px;
  }

  .pop-up__container {
    height: 145px;
  }
}
