$primary-color: #81b3d2;
$hover-color: #669ec0;
$active-color: #5496bd;
$font-color-active: rgba(255, 255, 255, 0.3);
$primary-font-color: #333333;
$title-font-color: #000000;
$laptop-size: 768px;
$desktop-size: 1200px;
$hotels-color-buttons: #766357;
$hotels-color-buttons-hover: #604e43;
$hotels-color-buttons-active: #503e33;
$primary-shadow: 0 0 15px 1px rgba(0, 1, 1, 0.3);
$secondary-shadow: 0 0 15px 1px rgba(0, 1, 1, 0.4);
$primary-input-color: #f2f2f2;
$hover-input-color: #e5e5e5;
